@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Udregning af transportudgifter</h1>
    <h4>vælg Calc og indtast</h4>
    <br />
    <br />
    <br />
    <h6>Kodet i  ASP.NET Core med entity fremework</h6>
    
</div>
