@model LønTransportberegner.Models.TransportModel

<h1>Beregn Transportomkostninger</h1>
<p>Vælg Transportmetode</p>

<form asp-action="Index" asp-controller="Transport" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <div class="form-group">
            <label asp-for="Transportmetode">Transport Metode:</label>
            <br />
            <br />

            <select class="form-control" asp-for="Transportmetode">
                <option value="CarTransport">Bil</option>
                <option value="ElectricBike">Elektrisk cykel</option>
                <option value="PublicTransport">Offentlig transport</option>
            </select>
        </div>
    </div>

    <div class="mb-3">
        <label for="City">By:</label>
        <input type="text" class="form-control" id="City" name="City" placeholder="Indtast din destination" required />
    </div>


    <div class="mb-3">
        <label asp-for="Distance">Afstand (km):</label>
        <input type="number" class="form-control" asp-for="Distance" step="0.01" required />
    </div>

    <button type="submit" class="btn btn-primary">Beregn Transportomkostninger</button>
</form>



<br />
@if (Model != null && Model.TransportCost > 0)
{
    <h2>Transportomkostninger: @Model.TransportCost</h2>
}
